<%= render :partial => "serch_head" , :locals=>{:ss=>@ss,:tab_keys=>nil} %>
<%= form_tag(action,{:method=>:get,:name => 'serch'}){ %>
<table width="95%" border="0" cellpadding="0" cellspacing="0" class="soloidline">
  <tr>
  <%= content_tag("th", @ss.getparamdata("login_id","title") ,:class=>"listTitle",:style=>"width:15%") %>
  <td class="listL" style="width:35%">
    <%= mkhtmlform(@ss.getgname,"login_id",@ss.getparam("login_id")) %>
    <%= hidden_field_tag("login_id_cri","fr")%>
  </td>
  <%= content_tag("th", @ss.getparamdata("name","title") ,:class=>"listTitle",:style=>"width:15%") %>
  <td class="listL" style="width:35%">
    <%= mkhtmlform(@ss.getgname,"name",@ss.getparam("name")) %>
    <%= hidden_field_tag("name_cri","pa")%>
  </td>
  </tr>
  <tr>
  <%= content_tag("th", @ss.getparamdata("auth_flg","title") ,:class=>"listTitle") %>
  <td class="listL">
    <%= mkhtmlform(@ss.getgname,"auth_flg",@ss.getparam("auth_flg")) %>
  </td>
  <%= content_tag("th", @ss.getparamdata("branch_cd","title") ,:class=>"listTitle") %>
  <td class="listL">
    <%= mkhtmlform(@ss.getgname,"branch_cd",@ss.getparam("branch_cd")) %>
  </td>
  </tr>
  <tr>
  <%= content_tag("th", @ss.getparamdata("s_name","title") ,:class=>"listTitle") %>
  <td class="listL">
    <%= mkhtmlform(@ss.getgname,"s_name",@ss.getparam("s_name")) %>
    <%= hidden_field_tag("s_name_cri","pa")%>
  </td>
  <%= content_tag("th", @ss.getparamdata("wk_branch_cd","title") ,:class=>"listTitle",:style=>"width:11%") %>
  <td class="listL">
    <%= mkhtmlform(@ss.getgname,"wk_branch_cd",@ss.getparam("wk_branch_cd")) %>
  </td>
  </tr>
  <tr>
  <td class="listC" colspan=4>
    <%= submit_tag(:submit, :value=>'検索実行',:type=>'button',:onclick=>"doSerch()",:id=>"userSerchBtn") %>
    <%= submit_tag(:submit, :value=>'条件クリア',:type=>'button',:onclick=>"common_AllClr(document.serch)") %>
  </td>
  </tr>
</table>
<% } %>