<% content_for(:head){ %>
<style type="text/css">
    <!--
    div.hcaltable div.hcalRow div.hcalVCell {
        white-space: nowrap;
    }

    div.wkAInfoBox {
        position: absolute;
        margin: 1.5em 0 1.5em 15px;
        padding: 3px 5px;
        min-width: 40px;
        max-width: 100%;
        background: white;
        border: solid 3px green;
        box-sizing: border-box;
        border-radius: 8px;
    }

    div.wkAInfoBox:before {
        content: "";
        position: absolute;
        top: 15px;
        left: -24px;
        margin-top: -12px;
        border: 12px solid transparent;
        border-right: 12px solid white;
        z-index: 2;
    }

    div.wkAInfoBox:after {
        content: "";
        position: absolute;
        top: 15px;
        left: -30px;
        margin-top: -14px;
        border: 14px solid transparent;
        border-right: 14px solid green;
        z-index: 1;
    }

    div.wkAInfoBox span.competenceStar:hover {
        cursor: pointer;
        color: brlue;
    }

    div.wkAErrorMsgBox {
        border-color: red;
        display: none;
        text-align: left;
    }

    div.wkAErrorMsgBox:after {
        border-right: 14px solid red;
    }

    /* 公休予定確定ボタン　装飾 */
    tr.lock-button-row {
        text-align: center;
    }

    tr.lock-button-row td form {
        display: inline-block;
        padding-top: 15px;
        width: 100px;
        margin: 0 10px;
    }

    tr.lock-button-row td form input[type=submit] {
        position: relative;
        font-weight: 500;
        background: #0168B1;
        color: black;
        cursor: pointer;
        width: 100%;
        border: solid 2px #666666;
        border-radius: 3px;
    }

    tr.lock-button-row td form:not(.inactive) input[type=submit]:hover {
        top: -2px;
    }

    tr.lock-button-row td form.lock input[type=submit] {
        background: #FFEEFF;
    }

    tr.lock-button-row td form.inactive input[type=submit] {
        background: #6a6a6a;
        cursor: initial;
    }
    -->
</style>
<%= javascript_tag do %>
var constraint_check_data = <%= @constraint_check_data.to_json.html_safe %>;
var branches = <%= @calendar[:branche].to_json.html_safe %>;
var def_branch_cd = '<%= @def_branch_cd || params[:def_branch_cd].to_i %>';
var is_futurity = <%= @is_futurity %>;
var h_setting_min = '<%= @wh_summary[:h_setting_min].to_i %>'-0;
var OverWorkLimit = '<%= Vacation::OverWorkLimit %>'-0;
var AllowedBrancheList = <%= @allowed_branches.to_json.html_safe %>;
<% end %>
<% } %>
<% sum_datas={:date_alert=>{},:menbers_count=>{},:branch_count=>{:total=>{:vacation=>0,:continuous=>0}}} #ページ内集計用%>
<div id="field1">
    <%= render :partial => "error_message" , :locals=>{:message_obj=>flash[:msg],:style_class=>'err'} %>
    <table>
        <tr>
            <td><%= render :partial => "t_month_box",:locals=>{:day_info=>@t_tarm,:today=>@today,:tbl_class=>"",:day_title=>""} %></td>
            <td class="listR" style="width:25%;">
                <%= content_tag(:div,submit_tag(:button, :value=>'法定・所定休日休日へ公休設定',:type=>'button',:onclick=>"setVacation('init6')"),:style=>"display:inline-block;")%>
                <%= content_tag(:div,submit_tag(:button, :value=>'不足公休日自動設定',:type=>'button',:disabled=>@add6_btn_lock,:onclick=>"if(confirmExecute('不足公休日の自動設定を実行しますか？')) setVacation('add6')"),:style=>"display:inline-block;")%>
            </td>
        </tr>
        <tr class="lock-button-row">
            <td colspan="2"><%= render :partial => "vacation_lock_buttons",:locals=>{:t_year=>@t_tarm[:year],:t_month=>@t_tarm[:month],:vacation_lock_buttons=>@vacation_lock_buttons} %></td>
        </tr>
        <% if @wh_summary.present? %>
        <%= content_tag(:tr,content_tag(:td,"#{@wh_summary[:t_year]}年#{@wh_summary[:t_month]}月度の法定休日以外の最低公休日設定日数は#{@wh_summary[:h_setting_min]}日です。",:class=>"listC"))%>
        <% end %>
    </table>
    <% if @calendar[:menbers].present? %>
    <div id="hcalBox">
        <div class="hcaltable" id="hcalTbl">
            <div class="hcalRow"><%# タイトル行%>
                <div class="hcalCell">
                    <div id="hcalTitle1"><%# 氏名タイトル %>
                        <div class="hcaltable">
                            <div class="hcalRow">
                                <div class="hcalCell hcalVCell listTitle">氏名</div>
                            </div>
                        </div class="hcaltable">
                    </div>
                </div class="hcalCell">
                <div class="hcalCell">
                    <div id="hcalTitle2"><%# 日付タイトル %>
                        <div class="hcaltable">
                            <div class="hcalRow">
                                <% wk_date = @t_tarm[:length][:begin_date]
                            while wk_date <= @t_tarm[:length][:end_date] do
                                wh = @calendar[:wh][wk_date] 
                                cell_html = wk_date.strftime("%d")
                                cell_html << hidden_field_tag("wh_flg_#{wk_date.strftime("%Y%m%d")}",wh[:wh_flg])
                        %>
                                <%= content_tag(:div,cell_html.html_safe,:class=>"hcalCell hcalVCell listTitle col-cell#{wh[:wh_flg]==1 ? "0" : wk_date.strftime("%w")}")%>
                                <% wk_date += 1; end %>
                            </div class="hcalRow">
                        </div class="hcaltable">
                    </div>
                </div class="hcalCell">
                <div class="hcalCell">
                    <div id="hcalTitle3"><%# 集計タイトル %>
                        <div class="hcaltable">
                            <div class="hcalRow">
                                <div class="hcalCell hcalVCell listTitle">公休</div>
                                <div class="hcalCell hcalVCell listTitle">連勤</div>
                            </div>
                        </div class="hcaltable">
                    </div>
                </div class="hcalCell">
            </div class="hcalRow"><%# タイトル行%>
            <div class="hcalRow"><%# データ行%>
                <div class="hcalCell">
                    <div id="hcalData1"><%# 氏名データ %>
                        <div class="hcaltable">
                            <% branch_cd=nil; %>
                            <% @calendar[:menbers].each{|menber| %>
                            <% 
                                @calendar[:member_count][:total]+=1;
                                @calendar[:member_count][menber["branch_cd"]]+=1;
                                sum_datas[:menbers_count][menber["login_id"]]={:vacation=>0,:v_work=>0,:continuous=>0}
                                %>
                            <% if branch_cd.present? && branch_cd!=menber["branch_cd"] %>
                            <%
                                    branche_info = @calendar[:branche][branch_cd]
                                    sum_datas[:branch_count][branch_cd]={:vacation=>0,:continuous=>0} 
                                    %>
                            <%= content_tag(:div,content_tag(:div,"#{branche_info[:name]}　休暇 #{link_to("▼","JavaScript:hcaltableOpenBranche('#{branch_cd}')")}".html_safe,:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}",:id=>"BrancheSumRow_#{branch_cd}"),:class=>"hcalRow")%>
                            <%= content_tag(:div,content_tag(:div,"#{branche_info[:name]}　出勤 　",:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}"),:class=>"hcalRow")%>
                            <% end %>

                            <% 
                                cell_html = menber["name"] 
                                cell_html << link_to(icon("fas","triangle-exclamation"),"JavaScript:vacErrorMsgView('#{menber["login_id"]}','block')",:id=>"ErrorMsgBtn#{menber["login_id"]}",:class=>"err",:style=>"display:#{(@is_futurity ? "" : "none")};")
                                cell_html << content_tag(:div,nil,:class=>"wkAInfoBox wkAErrorMsgBox",:id=>"ErrorMsgBox#{menber["login_id"]}",:onclick=>"vacErrorMsgView('#{menber["login_id"]}','none')")
                                %>

                            <%= content_tag(:div,content_tag(:div,cell_html.html_safe,:class=>"hcalCell hcalVCell"),:class=>"hcalRow branchGroup_#{menber["branch_cd"]}",:id=>"user_Group_#{menber["login_id"]}" )%>

                            <% 
                                branch_cd=menber["branch_cd"] }
                                branche_info = @calendar[:branche][branch_cd]
                                sum_datas[:branch_count][branch_cd]={:vacation=>0,:continuous=>0} 
                                %>

                            <%= content_tag(:div,content_tag(:div,"#{branche_info[:name]}　休暇 #{link_to("▼","JavaScript:hcaltableOpenBranche('#{branch_cd}')")}".html_safe,:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}",:id=>"BrancheSumRow_#{branch_cd}"),:class=>"hcalRow")%>
                            <%= content_tag(:div,content_tag(:div,"#{branche_info[:name]}　出勤 　",:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}"),:class=>"hcalRow")%>

                        </div class="hcaltable">
                    </div id="hcalData1"><%# 氏名データ %>
                </div class="hcalCell">
                <div class="hcalCell">
                    <div id="hcalData2" onscroll="doHcalScroll(this);"><%# 作業員×日付毎データ %>
                        <div class="hcaltable">
                            <% branch_cd=nil; @calendar[:menbers].each{|menber| vacations = @calendar[:vacations][menber["login_id"]] %>
                            <% if branch_cd.present? && branch_cd!=menber["branch_cd"] %>
                            <%= render :partial => "branche_sum_row2" , :locals=>{:branch_cd=>branch_cd,:branche_info=>@calendar[:branche][branch_cd],:sum_datas=>sum_datas} %>
                            <% end %>
                            <div class="hcalRow branchGroup_<%= menber["branch_cd"] %>" id="user_Group_<%=menber["login_id"]%>">
                                <%  continuous = 0; closed = @vacation_lock_buttons[menber["branch_cd"]] ? @vacation_lock_buttons[menber["branch_cd"]][:class]=="lock" : false
                            #前月分の連勤数をチェック
                            wk_date = @t_tarm[:length][:begin_date] - Vacation::OverWorkLimit - 1
                            while wk_date < @t_tarm[:length][:begin_date] do
                                wh = @calendar[:wh][wk_date]
                                vacation = (vacations.blank? ? nil : vacations[wk_date])
                                if vacation.nil?
                                    if wh.present? && wh[:wh_flg]==1 #公休日
                                        continuous = 0
                                    else
                                        continuous += 1
                                    end
                                else
                                    case vacation[:base_no]
                                    when 2 ; continuous += 1 #早退=出勤
                                    else   ; continuous = 0
                                    end
                                end
                                wk_date += 1
                            end

                            

                        %>
                                <%= hidden_field_tag("lastmonth_continuous_#{menber["login_id"]}",continuous)%>
                                <%
                            wk_date = @t_tarm[:length][:begin_date]
                            while wk_date <= @t_tarm[:length][:end_date] do
                                wh = @calendar[:wh][wk_date]
                                cell_class = "hcalCell hcalVCell hcalFutureCell listC"; cell_text = "　"
                                pop_text = ""; onmouseover=nil,onmouseout=nil
                                vacation = (vacations.blank? ? nil : vacations[wk_date])
                                if vacation.nil?
                                  continuous += 1
                                  vacation={:base_no=>0}
                                else
                                    if vacation[:base_no]==2 || vacation[:base_no]==3
                                        cell_text = "早遅"
                                    else
                                        cell_text = vacation.str_col_vacation_type(@calendar[:type_list])
                                    end

                                    case vacation[:base_no]
                                    when 2,3,31,32,33,34,41,42 #早退
                                        continuous += 1
                                        # (xx:xx~xx:xx)
                                        if vacation[:arriv_time] || vacation[:leav_time]
                                            pop_text = ""
                                            pop_text += "("
                                            pop_text += vacation[:arriv_time] if vacation[:arriv_time]
                                            pop_text += "~"
                                            pop_text += vacation[:leav_time] if vacation[:leav_time]
                                            pop_text += ")"
                                        end
                                    when 3 #遅出
                                        continuous += 1
                                        pop_text = vacation[:leav_time]
                                    when 6 #公休
                                        sum_datas[:menbers_count][menber["login_id"]][:vacation] +=1
                                        if vacation.holiday_work?
                                          continuous += 1
                                          cell_class << " hcalAlertCell"
                                          pop_text = "公休出勤"
                                          pop_text += "(代休未取得)" if vacation[:sts] == 4
                                          sum_datas[:date_alert][branch_cd] ||={}
                                          sum_datas[:date_alert][branch_cd][wk_date] = 1
                                        else
                                            continuous = 0
                                        end
                                    when 7,17 #振休,代休
                                        continuous = 0
                                        sum_datas[:menbers_count][menber["login_id"]][:vacation] +=1 if vacation[:base_no]==7
                                        pop_text = vacation[:origin_date].try(:strftime,"%m/%d")
                                    else #他休暇申請あり
                                        continuous = 0
                                    end
                                end
                                unless cell_class.include?("hcalAlertCell")
                                  if continuous >= Vacation::OverWorkLimit
                                    cell_class << " hcalErrCell"
                                  elsif wk_date < @today
                                    cell_class << " hcalPastCell"
                                  end
                                end
                                onclick = "if(hasPermission('#{menber["branch_cd"]}')) goVacationsEdit('#{menber["id"]}','#{menber["login_id"]}','#{wk_date.strftime("%Y%m%d")}',#{closed});"
                                if pop_text.present?
                                    onmouseover = "popVacationInfo(this,'#{pop_text}');"
                                    onmouseout= "$('#hcalInfoBox').css('display','none');"
                                end
                                sum_datas[:menbers_count][menber["login_id"]][:continuous] = continuous if sum_datas[:menbers_count][menber["login_id"]][:continuous] < continuous
                                cell_html = content_tag(:span,cell_text.html_safe,:id=>"vc_cell_#{menber["login_id"]}_#{wk_date.strftime("%Y%m%d")}")
                                cell_html << hidden_field_tag("base_no_#{menber["login_id"]}_#{wk_date.strftime("%Y%m%d")}",vacation[:base_no])
                                cell_html << hidden_field_tag("sts_#{menber["login_id"]}_#{wk_date.strftime("%Y%m%d")}",vacation[:sts])
                            %>
                                <%= content_tag(:div,cell_html.html_safe,:class=>cell_class,:onclick=>onclick.html_safe,:onmouseover=>onmouseover,:onmouseout=>onmouseout)%>
                                <% wk_date += 1; end %>
                            </div>
                            <% branch_cd=menber["branch_cd"];sum_datas[:branch_count][branch_cd][:vacation] += sum_datas[:menbers_count][menber["login_id"]][:vacation] }; %>
                            <%= render :partial => "branche_sum_row2" , :locals=>{:branch_cd=>branch_cd,:branche_info=>@calendar[:branche][branch_cd],:sum_datas=>sum_datas} %>
                        </div class="hcaltable">
                    </div id="hcalData2"><%# 作業員毎カレンダーデータ %>
                </div class="hcalCell">
                <div class="hcalCell">
                    <div id="hcalData3"><%# 従業員ごと集計 %>
                        <div class="hcaltable">
                            <% branch_cd=nil; @calendar[:menbers].each{|menber| %>
                            <% if branch_cd.present? && branch_cd!=menber["branch_cd"] ; sum_datas[:branch_count][:total][:vacation] += sum_datas[:branch_count][branch_cd][:vacation] %>
                            <%= render :partial => "branche_sum_row3" , :locals=>{:branch_cd=>branch_cd,:branche_info=>@calendar[:branche][branch_cd],:sum_datas=>sum_datas} %>
                            <% end %>
                            <div class="hcalRow branchGroup_<%= menber["branch_cd"] %>" id="user_Group_<%=menber["login_id"]%>">
                                <%= content_tag(:div,sum_datas[:menbers_count][menber["login_id"]][:vacation],:id=>"mysumh_#{menber["login_id"]}",:class=>"hcalCell hcalVCell listR") %>
                                <%= content_tag(:div,sum_datas[:menbers_count][menber["login_id"]][:continuous],:id=>"maxcontinuous_#{menber["login_id"]}",:class=>"hcalCell hcalVCell listR") %>
                                <%= content_tag(:div,sum_datas[:menbers_count][menber["login_id"]][:v_work],:style=>"display:none",:id=>"v_work_#{menber["id"]}") %>
                            </div>
                            <% branch_cd=menber["branch_cd"]; }; sum_datas[:branch_count][:total][:vacation] += sum_datas[:branch_count][branch_cd][:vacation] %>
                            <%= render :partial => "branche_sum_row3" , :locals=>{:branch_cd=>branch_cd,:branche_info=>@calendar[:branche][branch_cd],:sum_datas=>sum_datas} %>
                        </div class="hcaltable">
                    </div id="hcalData3"><%# 従業員ごと集計 %>
                </div class="hcalCell">
            </div class="hcalRow"><%# データ行%>
            <div class="hcalRow"><%# 集計行%>
                <div class="hcalCell">
                    <div id="hcalSum1"><%# タイトル %>
                        <div class="hcaltable">
                            <div class="hcalRow">
                                <div class="hcalCell hcalVCell listTitle">休暇者数</div>
                            </div>
                            <div class="hcalRow">
                                <div class="hcalCell hcalVCell listTitle">出勤者数</div>
                            </div>
                        </div class="hcaltable">
                    </div>
                </div class="hcalCell">
                <div class="hcalCell">
                    <div id="hcalSum2"><%# 集計×日付毎データ %>
                        <div class="hcaltable">
                            <div class="hcalRow"><%# 全集計行(公休者数) %>
                                <% wk_date = @t_tarm[:length][:begin_date]
                            while wk_date <= @t_tarm[:length][:end_date] do
                                cell_text = @calendar[:counts][:total][wk_date].to_i
                        %>
                                <%= content_tag(:div,cell_text,:id=>"sumh_#{wk_date.strftime("%Y%m%d")}",:class=>"hcalCell hcalVCell listTitle listR")%>
                                <% wk_date += 1; end %>
                            </div>
                            <div class="hcalRow"><%# 全集計行(出勤者数) %>
                                <% wk_date = @t_tarm[:length][:begin_date]
                            while wk_date <= @t_tarm[:length][:end_date] do
                                cell_text = (@calendar[:member_count][:total] - @calendar[:counts][:total][wk_date].to_i)
                        %>
                                <%= content_tag(:div,cell_text,:id=>"sumw_#{wk_date.strftime("%Y%m%d")}",:class=>"hcalCell hcalVCell listTitle listR")%>
                                <% wk_date += 1; end %>
                            </div>
                        </div class="hcaltable">
                    </div>
                </div class="hcalCell">
                <div class="hcalCell">
                    <div id="hcalSum3"><%# 総集計データ %>
                        <div class="hcaltable">
                            <% 2.times{ %>
                            <div class="hcalRow">
                                <%= content_tag(:div,"-",:class=>"hcalCell hcalVCell listTitle") %>
                                <%= content_tag(:div,"-",:class=>"hcalCell hcalVCell listTitle") %>
                            </div>
                            <% } %>
                        </div class="hcaltable">
                    </div>
                </div class="hcalCell">

            </div class="hcalRow"><%# 集計行%>
        </div>
    </div id="hcalBox">

    <%# 自動割当用フォーム%>
    <%= form_tag({:action=>:create},{:method=>:post,:name => 'newform'}){ %>
    <%= hidden_field_tag(:t_year,@wh_summary[:t_year]) %>
    <%= hidden_field_tag(:t_month,@wh_summary[:t_month]) %>
    <%= hidden_field_tag(:user_id) %>
    <%= hidden_field_tag(:t_date) %>
    <%= hidden_field_tag(:mord,nil) %>
    <% } %>
    <% else %>
    配番作業員の登録がありません。
    <% end %>
    <br />
    <%= render :partial => 'links' , :locals=>{:back_links => @my_setting[:back_links]} %>
</div>
<%= content_tag(:div,nil,:id=>"msgBox")%>