<style>
    <!--
    table {margin: 20px auto;}
    table * {
        font-size:16px;
        font-family:'メイリオ',Meiryo,'Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
    }
    table th {font-size: 14px;font-weight: normal;}
    form.inputForm {margin: 50px auto;}
    form.inputForm>span {display:block;text-align:center;}
    form.inputForm .btn {padding: 2px 15px;display: block;margin: 15px auto;}
    div#msg_box {display: flex;flex-direction: column;align-items: center;}
    div#msg_box>br {display: none;}
    -->
</style>

<%= render :partial => "error_message" , :locals=>{:message_obj=>flash[:error_msgs],:style_class=>'err'} %>
 <%= form_with model: @user, url: {:controller=>:users,:action=>:update_password},:method=>:put,local: true,:class=>"inputForm" do |f| %>
    <span style='color:red;'>※変更後パスワードには半角英字、半角数字を含む「6文字」以上で入力してください</span>
    <table border="0" cellpadding="3" cellspacing="8">
        <tr>
            <%= content_tag(:th, I18n.t("activerecord.attributes.user.password"),:class=>"listL") %>
            <%= content_tag(:td, f.password_field(:password,:autocomplete=>'off'),:class=>"listL") %>
        </tr>
        <tr>
            <%= content_tag(:th, I18n.t("activerecord.attributes.user.password_update"),:class=>"listL") %>
            <%= content_tag(:td, f.password_field(:password_update),:class=>"listL") %>
        </tr>
        <tr>
            <%= content_tag(:th, I18n.t("activerecord.attributes.user.password_update_confirmation"),:class=>"listL") %>
            <%= content_tag(:td, f.password_field(:password_update_confirmation),:class=>"listL") %>
        </tr>
        <% if false && @visible_remind_field %>
        <tr>
            <%= content_tag(:th, I18n.t("activerecord.attributes.user.remind_question"),:class=>"listL") %>
            <%= content_tag(:td, f.text_field(:remind_question,:placeholder =>"例：小名浜港の港湾荷役といえば？"),:class=>"listL") %>
        </tr>
        <tr>
            <%= content_tag(:th, I18n.t("activerecord.attributes.user.remind_answer"),:class=>"listL") %>
            <%= content_tag(:td, f.text_field(:remind_answer,:placeholder =>"例：小名浜海陸運送"),:class=>"listL") %>
        </tr>
        <% end %>
        <% if false %>
            <tr>
                <%= content_tag(:th, I18n.t("activerecord.attributes.user.last_logined_at"),:class=>"listL") %>
                <%= content_tag(:td, f.text_field(:last_logined_at),:class=>"listL") %>
            </tr>
        <% end %>
        <tr>
            <%= content_tag(:td, f.submit("更新", class: "btn"), class: "listC", colspan: 2) %>
        </tr>
    </table>
    <%= render :partial => 'links' , :locals=>{:back_links => @my_setting[:back_links]} %>
<% end %>



